layout {
    tab name="nvim" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane command="nvim"
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }
    tab name="llm+cmd" {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        pane command="codex"
        pane
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

}
